<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}Add Back to Burger List{{else}}EAT BURGER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
